# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES DES RECETTES
#--------------------------------------------------

RewriteRule ^recettes$ index.php?recettes=index [L]

#--------------------------------------------------
# ROUTES DES USERS
#--------------------------------------------------



# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
# RewriteRule ^(.*)$ index.php [L]