# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES DES RECETTES
#--------------------------------------------------

#Liste des recettes
RewriteRule ^recettes$ index.php?recettes=index [L]

#Détail d'une recette
RewriteRule ^recettes\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?recettes=show&id=$1 [L]

#--------------------------------------------------
# ROUTES DES USERS
#--------------------------------------------------

#Liste des Chefs/Users
RewriteRule ^chefs$ index.php?chefs=index [L]

#Détail d'un user
RewriteRule ^chefs\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?chefs=show&id=$1 [L]

#--------------------------------------------------
# ROUTES DES CATEGORIES
#--------------------------------------------------

RewriteRule ^categories\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?categories=show&id=$1 [L]

#--------------------------------------------------
# ROUTES DES INGREDIENTS
#--------------------------------------------------

RewriteRule ^ingredients\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?ingredients=show&id=$1 [L]

#--------------------------------------------------
# ROUTES DE LOGIN
#--------------------------------------------------

# LOGIN
RewriteRule ^login\/form$ index.php?login=form [L]

# LOGIN CONNEXION

RewriteRule ^login\/submit$ index.php?login=submit [L]

#--------------------------------------------------
# ROUTES DE LA BARRE DE RECHERCHE
#--------------------------------------------------

# LOGIN
RewriteRule ^recettes\/search$ index.php?recettes=search [L]



# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
# RewriteRule ^(.*)$ index.php [L]