# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES DES USERS/DECONNEXION
#--------------------------------------------------

RewriteRule ^name\/logout$ index.php?name=logout [L]

#--------------------------------------------------
# ROUTES DES CATEGORIES
#--------------------------------------------------

RewriteRule ^categories$ index.php?categories=index [L]

RewriteRule ^categories\/add\/form$ index.php?categories=addform [L]

RewriteRule ^categories\/add\/insert$ index.php?categories=add [L]

RewriteRule ^categories\/delete\/([1-9][0-9]*)$ index.php?categories=delete&id=$1 [L]

RewriteRule ^categories\/edit\/form\/([1-9][0-9]*)$ index.php?categories=editform&id=$1 [L]

RewriteRule ^categories\/edit\/([1-9][0-9]*)$ index.php?categories=edit&id=$1 [L]

#--------------------------------------------------
# ROUTES DES RECETTES
#--------------------------------------------------

RewriteRule ^recettes$ index.php?recettes=index [L]

RewriteRule ^recettes\/add\/form$ index.php?recettes=addform [L]

RewriteRule ^recettes\/add\/insert$ index.php?recettes=add [L]

RewriteRule ^recettes\/delete\/([1-9][0-9]*)$ index.php?recettes=delete&id=$1 [L]

RewriteRule ^recettes\/edit\/form\/([1-9][0-9]*)$ index.php?recettes=editform&id=$1 [L]

RewriteRule ^recettes\/edit\/([1-9][0-9]*)$ index.php?recettes=edit&id=$1 [L]

#--------------------------------------------------
# ROUTES DES USERS
#--------------------------------------------------

RewriteRule ^users$ index.php?users=index [L]

RewriteRule ^users\/add\/form$ index.php?users=addform [L]

RewriteRule ^users\/add\/insert$ index.php?users=add [L]

RewriteRule ^users\/delete\/([1-9][0-9]*)$ index.php?users=delete&id=$1 [L]

RewriteRule ^users\/edit\/form\/([1-9][0-9]*)$ index.php?users=editform&id=$1 [L]

RewriteRule ^users\/edit\/([1-9][0-9]*)$ index.php?users=edit&id=$1 [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]